body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #70480b;
    color: rgb(40, 180, 12);
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #routes-list {
    margin-top: 20px;
  }
  
  #routes-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  #routes-list li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  